{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% if app.user %}
    <h1 style="text-align: center; margin:4vh;">Bienvenue {{app.user.pseudo}}</h1>
{% else %}
<h1>Bienvenue Vous !</h1>
{% endif %}

<table class="table3">
    <thead>
        <thead>
            <tr>
            <th>Intitulé Session</th>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Nombre de places</th>
            <th>Places reservées</th>
            <th>Places restantes</th>
            <th>Détail</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
        <tr>
            <td>{{session}}</td>
            <td>{{session.dateDebut| date ('d/m/Y')}}</td>
            <td>{{session.dateFin| date ('d/m/Y')}}</td>
            <td>{{session.nbPlaces}}</td>
            <td>{{session.reservations}}</td>
            <td>{{session.disponibles}}</td>
            <td><a href="{{ path('show_session', {'id': session.id})}}">Lien</a></td>
        </tr> 
        {% endfor %}
    </tbody>
</table>

{% endblock %}
