{% extends 'base.html.twig' %}

{% block title %}DetailSession{% endblock %}

{% block body %}

<h1 style="text-align: center; margin-bottom: 30px"> {{ session }}</h1>
<div class="containerSess">
    <div>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Nombre de place</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{session.dateDebut| date ('d/m/Y')}}</td>
                    <td>{{session.dateFin| date ('d/m/Y')}}</td>
                    <td>{{session.disponibles}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    
    <div>

        
        <table class="table2">
             <thead>
                <tr>
                    <th>Categorie</th>
                    <th>Module</th>
                    <th>Nombre de jour</th>
                </tr>
            </thead>
            <tbody>
                {% for programme in session.programmes %}
                <tr> 
                    <td>{{ programme.modules.categorie }}</td>
                    <td>{{ programme.modules }}</td>
                    <td>{{ programme.duree }}</td>
                    <br>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="adtbtn">
            <a class="btn btn-primary" href="{{ path('add_programme', {'sessionId': session.id}) }}">Add programme </a><br>
        </div>
        {% endif %}
    </div>


    {% if is_granted('ROLE_ADMIN') %}
        <div class="card p-3 bg-light" style="display: flex; flex-direction: column; align-items: center; width: 25rem;">
            <div>
                <h2>Stagiaires inscrits:</h2>
                {% if session.disponibles == 0 %}
                    <p> La session est complète </p>
                {% else %}
                    {% for stagiaire in session.stagiaires %}
                    <li>
                        <a href="{{ path('show_stagiaire', {'id': stagiaire.id})}}">{{stagiaire}}</a>
                        <a class="btn btn-danger" href="{{ path('removeStagiaire', {'id': session.id, 'idStagiaire': stagiaire.id}) }}" >Supprimer</a>

                    </li>
                    {% endfor %}
                {% endif %}
            </div>

            <hr>

            <div>
                <h2>Stagiaires non inscrits:</h2>
                <ul>
                    {% for stagiaire in stagiaires %}
                        {% if not session.stagiaires.contains(stagiaire) %}
                            <li><a href="{{ path('show_stagiaire', {'id': stagiaire.id})}}">{{ stagiaire.nom }} {{ stagiaire.prenom }}</a>
                                <a href="{{ path('addStagiaire', {'id': session.id, 'idStagiaire': stagiaire.id}) }}" class="btn btn-primary">Ajouter</a></li>
                        {% endif %}
                    {% endfor %}

                </ul>
        
            </div>

        </div>
    {% endif %}
</div>


{% endblock %}
