{% extends 'base.html.twig' %}

{% block title %}DetailSession{% endblock %}

{% block body %}

<h1 style="text-align: center; margin-bottom: 30px"> {{ categorie }}</h1>
<div class="container" style="display: flex; justify-content: center;">
    <div>
        {% if categorie.moduleSessions| length ==0 %}
            <h2>Liste des Modules</h2>
            <p> Il n'y a pas encore de module</p>
        {% else %}
            <table class="styled-table">
                <thead>
                    <tr>
                    <th>Modules</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>Edit</th>
                    <th>Delete</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for module in categorie.moduleSessions %}
                    <tr>
                        <td>{{module.intitule}}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a  class="btn btn-secondary" href="{{ path('edit_module', {'id': module.id})}}">Edit</a></td>
                            <td><a class="btn btn-danger" href="{{ path('delete_module', {'id': module.id})}}">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table><br>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <div style="display: flex; justify-content: center;">
        <a class="btn btn-primary" href="{{ path('add_module', {'categorieID': categorie.id})}}">Add module</a><br>
    </div>
</div>
{% endif %}

{% endblock %}

